
/* Social media Color variables */

$c-facebook:           #0064be;
$c-facebook-messenger: #0082ff;

$c-google-plus:        #dc4e41;

$c-instagram:          #405de6;
$c-instagram-2:        #5851db;
$c-instagram-3:        #833ab4;
$c-instagram-4:        #c13584;
$c-instagram-5:        #e1306c;
$c-instagram-6:        #fd1d1d;
$c-instagram-7:        #f56040;
$c-instagram-8:        #f77737;
$c-instagram-9:        #fcaf45;
$c-instagram-10:       #ffdc80;

$c-linkedin:           #007acf;

$c-pinterest:          #bd081c;

$c-twitter:            #00aff5;

$c-whatsapp:           #25d166;

$c-youtube:            #cd201f;
