.time-navigation {
  @apply h-20 w-20 rounded-full border-5 border-dark relative z-10 cursor-pointer;

  .time-span {
    @apply absolute top-0 left-0 rounded-full bg-dark items-center justify-center font-bold text-white;

    width: 67px;
    height: 34px;
    margin-left: -33px;
    margin-top: 25px;
    display: none;
  }

  &:hover {
    .time-span {
      display: flex;
    }
  }
}
