.navigation-image {
  height: calc(100vh - 179px);
}

.map-location {
  &:hover {
    @media (min-width: 1024px) {
      .map-item {
        display: flex;
      }
    }
  }

  &.map-1 {
    left: 28%;
    top: 48%;
  }

  &.map-2 {
    left: 59%;
    top: 21%;
  }

  &.map-3 {
    left: 59%;
    top: 48%;
  }

  &.map-4 {
    left: 69%;
    top: 64%;
  }

  @media (max-width: 640px) {
    &.map-1 {
      height: auto !important;
      left: 16%;
      top: 43%;
    }

    &.map-2 {
      height: auto !important;
      left: 83%;
      top: 24%;

      .map-item {
        margin-left: -130px;
      }
    }

    &.map-3 {
      height: auto !important;
      left: 84%;
      top: 47%;

      .map-item {
        margin-left: -130px;
      }
    }

    &.map-4 {
      height: auto !important;
      left: 76%;
      top: 64%;
    }
  }

  .map-item {
    min-width: 220px;
    display: none;
  }
}
