.menu-main-menu-container {
  height: 100% !important;
}

.primary-menu {
  @apply flex items-center justify-end mr-5;

  font-size: 14px !important;

  @media (max-width: 1279px) {
    display: none;
  }

  .menu-item {
    @apply mx-10;

    border-bottom: 1px solid rgba(0, 0, 0, 0);

    &:hover {
      border-bottom: 1px solid #000;
    }

    &.menu-item-has-children {
      @apply relative;

      &:hover {
        .sub-menu {
          display: flex !important;

          @apply absolute flex-col bg-white p-10;
        }
      }
    }
  }

  .sub-menu {
    display: none;
    min-width: 210px;
    top: 20px;
    margin-top: -2px;
    left: 0;

    li {
      @apply mb-10;
    }
  }
}

.mobile-menu {
  .menu-item {
    @apply my-30;

    a:hover {
      text-decoration: underline;
    }

    &.menu-item-has-children {
      a::after {
        transition: 0.3s;
        margin-left: 10px;
        margin-bottom: 5px;
        display: inline-block;
        content: url("data:image/svg+xml,%0A%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.25693L9.80012 8.37599C9.305 8.86555 8.695 8.86555 8.19988 8.37599L1 1.25692' stroke='%232C2C2C' stroke-width='2'/%3E%3C/svg%3E%0A");
      }

      &.active {
        font-weight: bold;
        text-decoration: underline;

        a::after {
          transform: rotate(180deg) !important;
        }

        .sub-menu {
          a {
            font-weight: normal !important;
            text-decoration: none !important;
          }
        }
      }

      .sub-menu {
        margin-top: 20px;
        display: none;

        .menu-item {
          margin: 15px 0;
        }

        a {
          font-size: 18px;
        }

        a::after {
          content: '';
        }
      }
    }
  }
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke: #2c2c2c;
  stroke-width: 8;
  stroke-linecap: round;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
